@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root {
    --green:#19B885;
    --btn-green:#30BF91;
    --btn-black:#0D1B1E;
    --backgroundblack:#33393F;
    --backgroundblue:#F5FDFF;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.center{
    text-align: center;
}
.inter{
    font-family: 'Inter', sans-serif;

}
p{
    font-family: 'Inter', sans-serif;
}
.Main{
    max-width: 1274.33px;
    margin: 0 auto;
   position: relative;
}
a:visited{
    color: black;
}
/* Navbar */

.nav-bar{
    width: 100%;
    margin-top: 1.188rem;
    display: flex;
    font-family: 'Inter', sans-serif;
}
.logo{
    margin: 1px;
    height: 35px;
}
.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-item p{
    line-height: 30px;
    font-weight: 400;
    font-size: 14px;
    margin-right: .5rem;
}
.nav-item img{
    width: 0.438rem;
    height: 4.23px;
    margin-right: 1.813rem;
}
.nav-list{
    margin: 4px;
    height: 2rem;
    width:29.375rem;
    display: flex;
    margin-left: 1.75rem;
}
.nav-details{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 196px;
    font-size: 14px;
    font-weight: 400;
    
}
.nav-details img:first-child {
    width: 1rem;
    height: 1rem;
    margin-right: 9px;
}
.nav-details :nth-child(3){
    margin-left: .5rem;
}
.nav-details :nth-child(4){
    margin: .25rem;
    width: 128px;
    margin-left: 1.521rem;
}
.signup-btn{
    background-color: var(--btn-green);
    color: white;
    text-align: center;
    height: 40px;
    font-size: 14px;
    line-height: 14px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    width: 87px;
    margin-left: 1rem;
}

.nav-center{
    display: flex;
}
/* poster */

.poster{
    display: flex;
    margin-top: 7.313rem;
    max-width: 1274px;
    margin-bottom: 9rem;
}
.poster-content h2{
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4.375rem;
    color: #0D1B1E;
}
.poster-content p {
    font-weight: 400;
    line-height: 2rem;
    font-size: 19px;
    margin: 32px 0;
}
.input-form{
    height: 50px;
    margin-bottom: 14px;
}
.email{
border: 1px solid #D8D8D8;
border-radius: 5px;
font-size: 1rem;
padding: 12px 47px 17px 16px;
font-weight: 300;
line-height: 19px;
color: #BCBCBC;
width: 268px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: #BCBCBC;
    opacity: 1; /* Firefox */
  }
.poster-btn{
    padding:8px 22px 12px 22px;
    height: 100%;
    font-size: 18px;
    font-weight: 400;
    background-color: var(--green);
    color: white;
    letter-spacing: 0.15;
    line-height: 30px;
    border: none;
    width: 173px;
    border-radius: 5px;
    margin-left: 0;
}

.spanned {
    height: 1rem;
    /* width:445px; */
    font-weight:300;
font-size:12px;
line-height:14px;
}
b{
    height: 25px;
    width: 102px;
    margin-left: .2rem;
    font-weight: 600;
    font-size: 14px;
}

/* survey-software */
.survey-software{
    margin: 0 82px 252px 83px;
}
.software-head {
font-size: 36px;
font-weight: 800;
line-height: 56px;
letter-spacing: 0em;
height: 41px;
text-align: center;
margin-bottom: 2rem;
width: 885px;
margin-left: 112px;
color: #0D1B1E;
}
.survey-software p{
   text-align: center;
   height: 119px;
font-size: 18px;
font-weight: 400;
line-height: 32px;
margin-bottom: 28px;
}
.survey-software a:link{
    color: #0D1B1E;
    font-weight: 600;
    text-decoration: none;
    border-bottom:  1.5px solid black;
}
.read-more{
    margin-left: 507px;
    font-weight: 600;
    font-size: 18px;
    line-height: 2rem;
}

.special-div{
    max-width:1274px ;
    border: 1px solid black;
    margin-top: 104px;
    background-color: #33393F;
    color: white;
    position: absolute;
    bottom: -400px;
}
.special-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 61px 97px 55px 93px;
    height: 188px;
    text-align: center;
    gap: 2rem;
}
.special-item-1:nth-child(1) p
{
  width: 233px;
}
.special-item-1:nth-child(2) p
{
    width: 241px;
}
.special-item-1:nth-child(3) p
{width: 241px;}
.special-item-1:nth-child(4) p
{width: 225px;}
.special-item-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   text-align: center;
}
.special-item-1 h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    height: 20px;
    margin-bottom: 24px;
    text-align: center;
}
.special-item-1 p{
font-size: 1.1rem;
font-weight: 400;
line-height: 22.5px;
letter-spacing: 0px;
padding: 0.7rem;
padding-bottom: 0.5rem;

}

.special-item-1 img{
    margin-top: 14px;
}


/* Survey-Application */

.Survey-Application{
    height: 1438px;
    max-width: 1440px;
    background-color:#F5FDFF;
    padding-top: 260px;
}
.Application-container{
    max-width: 1263px;
    margin: 0 auto;
}

.Application-Container-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Application-Container-head h3{
    font-family: Poppins;
font-size: 36px;
font-weight: 700;
line-height: 56px;
letter-spacing: 0em;
margin-bottom: 2rem;
text-align: center;
width:698px ;
height: 97px;
}
.Application-Container-head p{
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
height: 55px;
width: 967px;
color: #0D1B1E;
}
.arrow-container{
    max-width: 1252px;
    border: 1px solid white;
    margin-top: 77px;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
}
.arrow-first{
    overflow:visible;
    border: 1px solid white;
    height: 224px;
    margin: 13px 77px 19px 55px;
}
.inner-container {
    margin: 56px 38.03px 52.1px 68px;
    width: 1013.97px;
  }
  .steps {
    display: flex;
    height: 45.3px;
    margin: 0 236.7px 10.3px 3px;
    justify-content: space-between;
  }
  .arrows {
    display: flex;
    height: 60.4px;
    width: 100%;
    color: white;
  }
  .first-arrow {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    border-radius: 5px 0 0 5px;
    height: 60.04px;
    width: 249.25px;
    background-color: rgba(25, 184, 133, 1);
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  }
  .first-arrow p {
    margin: 18.68px 49.25px 15.36px 38px ;
  }
  .second-arrow {
    height: 60.02px;

    background-color: rgba(25, 184, 133, 1);
    clip-path: polygon(75% 0%, 85% 50%, 75% 100%, 0%100%, 10% 50%, 0% 0%);
    margin-left: -11px;
  }
  .second-arrow p {
    height: 26px;
    width: 132px;
    margin: 18.68px 80.42px 15.34px 55.82px;
    padding-right: 1rem;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }
  .third-arrow {
    margin-left: -49px;
    height: 60.022804260253906px;
    background-color: rgba(25, 184, 133, 1);
    clip-path: polygon(75% 0%, 85% 50%, 75% 100%, 0%100%, 9% 50%, 0% 0%);
  }
  .third-arrow p {
    width: 172px;
    height: 26px;
    margin: 18.68px 65.05px 15.34px 60.65px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }
  .four-arrow {
    margin-left: -59px;
    height: 60.022804260253906px;
    background-color: rgba(25, 184, 133, 1);
    clip-path: polygon(75% 0%, 85% 50%, 75% 100%, 0%100%, 10% 50%, 0% 0%);
  }
  .four-arrow p {
    width: 172px;
    height: 26px;
    margin: 18.68px 90.05px 15.34px 60.65px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    padding-right: 1rem;
    line-height: 22px;
  }

  .steps img:nth-child(2) {
    margin-left: 2rem;
  }
  .steps img:nth-child(3) {
    margin-right: 1rem;
  }
  .steps img:nth-child(4) {
    margin-right: 2rem;
  }
.arrow-para{
    height: 55px;
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
width: 967px;
margin: 0 153px 72px 132px;

}

.grid{
  margin-right: 80px;
  gap: 63px 23px;
    display: grid;
    grid-template-columns: repeat(3,194px);
}
.grid-container{
    display: flex;
    margin-top: 88px;
    margin-right: 40px;
}
.grid .grid-item img{
    height: 48px;
    width: 48px;
  margin-bottom: 12px;
}
.grid-item{
    height: 86px;
    align-self: center;
    justify-content: center;
    text-align: center;
}
.grid-item p {
    font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0em;
text-align: center;

}
.grid-container img{
    height: 353px;
   margin-bottom: 12px;
    
}

/* Product */

.Product{
    max-width: 1275px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 315px;
}
.p-container{
    margin: 104px 154px  104px 155px;
    color: #0D1B1E;
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
max-width: 967px;
}
.product-header{
    font-family: Inter;
font-size: 22px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0em;
text-align: center;

}
.product-content{
    width: 720px;
    margin: 0 auto;
}
.head {
    display: flex;
    align-items: center;
    justify-content: center;
}
.head i{
    height: 2rem;
    width:11px;
    padding-right: 20px;
}
.head h3 {
    height: 26px;
    width: 481px;
    margin-bottom: 24px;
    margin-left: 120px;
    margin-right: 104px;
}
hr{
    margin-top: 2rem;
    border: 1px solid #DEE4E5 ;
}
.product-content p{
font-size: 16px;
font-weight: 400;
line-height: 30px;
text-align: center;
margin: 0 34px 0 34px ;
}
.body{
    display: flex;
    margin-top: 24px;
    margin-left: 69px;
    width: 665px;
}
.body i{
    margin-left: 59px;
    padding-top: 3px;
    width: 15px;
    height: 2rem;
    padding-right: 12px;
}
.body h3{
    font-family: Inter;
font-size: 22px;
font-weight: 600;
line-height: 32px;
text-align: center;
height: 24px;
width: 571px;
}
.body-2{
    height: 32px;
    width: 665px;
    display: flex;
    margin-left: 45px;
    margin-top: 24px;
    margin-bottom: 40px;
    align-items: center;
    
}
.body-2 h3{
    font-family: Inter;
font-size: 22px;
font-weight: 600;
line-height: 32px;
text-align: center;
margin-right: 20px;
letter-spacing: 0em;
width: 611px;
}
.body-2 i{
    margin-left: 39px;
}
.special-div-2{
    height: 288px;
    max-width:1275px;
    background-color: #1AB885;
    color: white;
    position: absolute;
    bottom: -460px;
}
.special-div-2 h2{
    font-family: Poppins;
font-size: 28px;
font-weight: 700;
line-height: 56px;
text-align: center;
margin: 60px 227px 1.15rem 205px;
}
.special-div-2-input{
    height: 56px;
    margin: 0  385px 12px 385px;
    border: none;
 
}
.special-div-2-input input{
    width: 310px;
    height: 100%;
    padding: 1rem 69px 17px 1rem;
    font-family: Inter;
font-size: 18px;
border: none;
border-radius:  5px  0 0   5px;
}
.special-div-2-input button{
    margin-left: -5px;
    width: 194px;
    font-family: Inter;
    border-radius: 0  5px 5px 0;
    padding: 15.96px 27px 18.09px 34px;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0px;
text-align: center;
border: none;
background-color: #0D1B1E;
color: white;
}
.special-spanned {
margin: 12px 412px 69px 390px;
width: 473px;
font-size: 13.5px;
font-weight: 400;

}
.special-spanned b {
    font-family: Inter;
font-size: 14px;
font-weight: 700;
line-height: 16.94px;
text-decoration: none;
border-bottom: 1px solid white;
}




/* features */
.features{
    height: 2950px;
    background-color: #F5FDFF;
    width: 100%;
}
.feature-container-1{
    padding-top: 312px;
    margin: 312px 229px 113.04px 205px;
    text-align: center;
}
.feature-container-1 h3{
    font-family: Poppins;
font-size: 36px;
font-weight: 700;
line-height: 56px;
padding: 0 0.2rem;
}
.feature-container-1 p{
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
margin-top: 1.99rem;
margin-right: 20px;
margin-left: 19px;
}
.feature-main{
    max-width: 1274px;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.first-row{
    display: flex;
}
.row-content h4,.row1-content h4,.row2-content h4{
    font-family: Inter;
font-size: 36px;
font-weight: 700;
line-height: 46px;
letter-spacing: 0em;
text-align: left;
height: 35.99px;
margin-bottom: 31.99px;
}
.row-content p ,.row1-content p,.row2-content p {
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
height:170.95px;
width: 626px;
}
.row-content{
    margin-right: 91px;
    align-self: center;
}

.first-row img{
    height:316px;
    width: 554px;
}
.second-row,.third-row{
        margin-top: 160px;
        display: flex;  
}
.row1-content{
    align-self: center;
    margin-left: 94px;
}
.row2-content{
    align-self: center;
    margin-right: 94px;
}
.last-row{
    margin-bottom: 177px;
}


/* customer-page */
.customer-page{
    height: 1622px;
    background-color: #33393F;
    color: white;
}
.heading{
height: 287px;
}
.heading h3{
    font-family: Inter;
font-size: 36px;
font-weight: 700;
line-height: 56px;
text-align: center;
padding: 104px 421px 0 421px;

}
.heading p{
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
margin: 0.9rem 208px 0 209px; 
}
.customer-grid{
    max-width: 1202px;
    margin: 107px  155px 0 83px;
    /* border: 1px solid white; */
    height: 1004px;
}
.grid-row{
    height: 284px;
    width: 100%;
}
.grid-info{
    display: flex;
    /* border: 1px solid black; */
}
.grid-info img{
    height: 48px;
    width: 48px;
    margin-right: 24px;
}
.grid-row{
    display: grid;
    grid-template-columns: repeat(2,554px);
    grid-gap: 108px 94px;
}
.grid-content h4{
    font-family: Inter;
font-size: 24px;
font-weight: 700;
line-height: 56px;
margin-top: -5px;
}

.grid-content p{
font-size: 18px;
font-weight: 400;
line-height: 32px;
}
.grid-info:nth-child(5){
    margin-top: -2rem;
}
/* special div-3 */
.special-div-3
{
    margin: 90px 83px 0 83px;
    height: 278px;
    max-width:1275px;
    background-color: #1AB885;
    color: white;
}
.special-div-3 h2{
    font-family: Inter;
font-size: 28px;
font-weight: 700;
line-height: 56px;
letter-spacing: 0em;
text-align: center;
color: white;
padding: 60px 227px 1.15rem 205px;
}

.special-div-3-input{
    /* border: 1px solid black; */
    width: 505px;
    height: 56px;
    margin: 0  384.7px 12px 384.7px;
    border: none;
 
}
.special-div-3-input input{
    width: 310px;
    height: 100%;
    padding: 1rem 68.95px 17px 0.99rem;
    font-family: Inter;
font-size: 18px;
font-weight: 400;
border: none;

border-radius:  5px  0 0   5px;
}
.special-div-3-input button{
    margin-left: -5px;
    font-family: Inter;
    border-radius: 0  5px 5px 0;
    padding: 15.96px 26.98px 18.09px 33.97px;
font-size: 18px;
font-weight: 400;
line-height: 21.78px;
letter-spacing: 0px;
text-align: center;
border: none;
background-color: #0D1B1E;
color: white;
}
.special-spanned-2 {
margin: 12px 411.68px 64px 389.69px;
width: 473px;
height: 18px;
font-family: Inter;
font-size: 13.5px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0px;
text-align: left;
}
.special-spanned-2 b {
    font-family: Inter;
font-size: 14px;
font-weight: 700;
line-height: 16.94px;
text-decoration: none;
border-bottom: 1px solid white;
}

/* reviews */

.reviews-container{
    /* height: 1200px; */
   max-width: 1376px;
   margin: 0 auto;
}
.review-head{
    padding: 301px 388px 2rem 390px ;
}
.review-head h3{
    font-family: Poppins;
font-size: 36px;
font-weight: 700;
line-height: 56px;
letter-spacing: 0em;
text-align: center;
width: 598px;
height: 41px;
padding: 0 1rem;
}
.review-head p{
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
margin-top: 2rem;
}

.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 87px 226px 160px 227.46px;
}
.banner-container img:first-child{
    width: 159.04px;
}
.banner-header h4{
    font-family: Poppins;
font-size: 36px;
font-weight: 700;
line-height: 46px;
text-align: center;
}
.first-banner{
    display: flex;
    justify-content: space-between;
    margin:  104px 186.52px 124px 187px;
}
.second-banner{
    display: flex;
    height: 29px;
    justify-content: space-between;
    margin:  104px 213.68px 0px 214px;
}
.second-banner img:nth-child(3){
    margin-left:19px ;
}
.customer-review h3{
    margin: 160px 288px 64px 286px;
    font-family: Poppins;
font-size: 36px;
font-weight: 700;
line-height: 56px;
text-align: center;

}
.customer-review p {
    color: rgba(0, 0, 0, 0.6);
    font-family: Inter;
font-size: 22px;
font-weight: 300;
line-height: 38px;
margin: 0 214px 98px 213px;
text-align: center;

}

.mask-group{
    display: flex;
    align-items: flex-start;
    margin: 0 327px 0 312px;
}
.mask-group img:first-child{
    margin-right: 84px;
}
.mask-group img:nth-child(2){
    margin-right:95px;
}
.mask-group img:nth-child(3){
    margin-right: 78px;
}
.mask-group img:nth-child(4){
    margin-right: 80px;
}
.maskgroup-heading h3{
    font-family: Inter;
    margin: 0 619px 0 625px;
    font-size: 26px;
    font-weight: 500;
    line-height: 56px;
}
.maskgroup-heading p{
    font-family: Inter;
    margin: 0 623px 160px 629px;
font-size: 12px;
font-weight: 300;
line-height: 16px;
text-align: center;
}
.maskgroup-container{
    border: 1px solid black;
    width :100%;
    height: 331px;
    background-color: #364250;
    color: white;
}
.maskgroup-container h3 {
    font-family: Poppins;
font-size: 48px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0px;
text-align: center;
margin: 77px 439px 2rem 436px;
padding: 0 1rem;
}
.mask-input{
    margin: 0 45px 17.52px 445px;
   border: none;
}
.mask-input input{
    border-radius: 5px  0 0   5px;
    padding: 1rem 68px 16.48px 1rem;
    color:rgba(13, 27, 30, 1);
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 22px;
border: none;
}
.mask-input ::placeholder{
    color: rgba(13, 27, 30, 1);
}
.mask-input button{
padding: 16px 14px 16.48px 21px;
border: none;
border-radius: 0  5px 5px 0;
margin-left: -5px;
background-color: #19B885;
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0px;
text-align: center;
color: white;
}
.mask-spanned{
    margin: 0 467px 90.21px 467px;
    width: 442px;
    height: 17.79px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
}
/* footer */
.survey-footer{
    margin: 196px 212.53px 0 147px;
}
.footer-container{  
    display: grid;
    grid-template-columns: 196px 200px 198px 222px auto;
   }
   .col .headd{
   font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
margin-bottom: 30px;
   }
   .col .list-item{
    list-style: none;
    color:  rgba(13, 27, 30, 0.5);    
    font-family: Inter;
font-size: 14px;
font-weight: 300;
line-height: 28px;
letter-spacing: 0px;
text-align: left;
   }
   .footer-flex{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
   }
.last-div .list-item{
    display: flex;
}
.last-div .list-item img{
    margin-right: 13px;
}
.final-item{
margin-top: 75.53px;
}
.nav-btn{
    display: none;
}
/* navbar media */
@media screen  and (max-width:1310px){
    .nav-details{
        margin-left:4rem ;
    }
}
@media screen  and (max-width:1286px){
    .nav-details{
        margin-left: 3rem;
    }
}

@media screen  and (max-width:1200px){
    .nav-bar{
        padding-right: 1rem;
        padding-left: 1rem;

    }
}
@media screen  and (max-width:1118px){
    .nav-details{
        margin-left: 1rem;
    }
    .nav-bar{
        width: 90%;
        margin: 1.188rem 1rem 0 1rem;
    }
}
@media screen  and (max-width:1054px){
    .nav-item img{
        margin-right: 1rem;
    }
    .nav-details :nth-child(4){
        display: none;
    }
}
@media screen  and (max-width:960px){
   .nav-item p{
    margin-right:.3rem ;
   }
   .nav-item img{
    margin-right: 1rem;
   }
   .signup-btn{margin-left: 0.3rem;}
.nav-details :nth-child(3){
    margin-left: .2rem;
}
.nav-list{
    margin-left: .7rem;
    width: 400px;
}

}
@media screen  and (max-width:836px){
    .nav-details img:first-child{
        display: none;
    }
.nav-details{
    margin-left: .5rem;
}
}
@media screen  and (max-width:815px){
     .nav-btn{
        display: block;
        margin-left:auto;
        padding: .5rem .75rem;
        background-color: #19B885;
        border: none;
        color: white;
        border-radius:5px ;
         
}
    .nav-bar{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem auto;
      }
      .nav-center{
        width: 95vw;
        max-width: var(--max-width);
        flex-direction: column;
      }
      .nav-header{
        height: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .nav-header img{
        width: 200px;
      }
      .logo{
        display: flex;
        align-items:center;
      }
      .nav-btn{
        padding: 0.55rem 0.75rem  ;
      }
      .nav-list{
        margin: 0 auto;
        display: flex;
        height: 0;
        flex-direction: column;
        overflow: hidden;
        transition: 0.3s ease-in-out all;
      }
      .nav-item{
        margin-bottom: 1rem;
      }
      .show-links{
        height: 270px;
      }
      .nav-details{
        gap: 1rem;
        align-items: center;
      }
      .nav-link{
        display: block; 
        text-align: center;
        transition: 0.3s ease-in-out all;
      }
      .poster{
        margin-top: 1rem;
      }
    
}
@media screen  and (max-width:1296px){
    
    .poster{
        flex-direction: column;
      margin-left: 2rem;
      gap: 2rem;
      margin-bottom: 4rem;
    }
}
@media screen  and (max-width:664px){
    .poster-content h2{
        font-size: 2.5rem;
    }
    .poster-content p{
        font-weight: 200;
        font-size: 16px;
    }
    .poster-image img{
        width: 400px;
        margin: 0 auto;
        background-color: #0D1B1E;
    }

}



/* survey-software media */
@media screen  and (max-width:1200px){

.survey-software{
    margin: auto
}
.survey-software p{
    margin: 2rem 2rem 3rem 2rem;
    line-height: 1.6;
}
.special-div{
    width: 100%;
}
.special-content{
    margin: 30px 100px 40px 65px;
}
}
@media screen  and (max-width:1050px){
    .software-head{
        margin-left: 50px;
        width: auto;
    }
    .read-more{
       margin-left: 450px;
    }
    .special-div{
        margin: 0 auto;
        width: 100%;
    }
    .special-content{
        margin: 0 auto;
        overflow: hidden;
        gap: 0;
        margin: 50px 1rem 2rem 1rem;
    }
}
@media screen  and (max-width:938px){

    .software-head{
       margin-left: 0;
        font-weight: 700;
        font-size: 26px;
    }
    .survey-software p{
        font-size: 14px;
        margin-bottom: 1rem;
    }
    .read-more{
        margin-left: 25rem;
     }
}

@media screen  and (max-width:780px){
    .read-more{
       font-size: 16px;
margin-left: 40%;
     }
     .special-content{
        overflow: scroll;
     }
}
@media screen  and (max-width:466px){
.software-head{
    line-height: 20px;
}
.read-more{
    margin-top: 2rem;
}
}
@media screen  and (max-width:596px){
    .survey-software{
       margin: 0;
    }
    .software-head{
        
        font-size: 20px;
    }
    .survey-software p{
        margin-bottom: 4rem;
    }
    .special-content{
        flex-direction: column;
    }
    .special-item-1{
        gap: 1rem;
    }
    }
    @media screen  and (max-width:478px){
        .poster{
            margin-left: 0.5rem;
        }
    }



/*  */

@media screen and (max-width:1200px){
    .Application-Container-head{
        padding-top: 10rem;
        width: auto;
    }
    .grid{
        margin-right: 40px;
        gap: 30px 15px;
    }  
    .feature-main{
        margin: 2rem;
    }
    .first-row img,.second-row img,.third-row img{
        width: 400px;
        height: 300px;
    }
    .heading h3{
        padding: 90px 200px 0 200px;
    }
    .customer-grid{
        margin: 107px 1rem 0 1rem;
    }
    .grid-row {
        grid-gap: 108px 54px;
}
.special-div-3-input,.special-spanned-2{
   margin: auto;
   margin-bottom: 0.5rem;
}
.special-div-3 h2{
    padding: 30px 150px 0  150px;
width: auto;
margin-bottom: 0.5rem;
}
.review-head{
    padding: 283px 311px 2rem 300px;
}
.banner-container {
    margin: 77px 226px 160px 227.46px;
  }
  .mask-group{
    margin: 0px 217px 0 217px;
  }
  .maskgroup-heading h3{
    margin: 0;
    text-align: center;
  }
  .maskgroup-heading p {
    margin: 0px 306px 160px 311px;
  }
  .maskgroup-container h3{
    margin: 47px 139px 2rem 139px;
  }
  .mask-input{
    margin:0 235px 17.52px 321px
  }
  .mask-spanned {
    margin: 0 267px 90.21px 367px;
  }
  .survey-footer {
    margin: 56px 2rem 15rem 5rem;
  }
}

@media screen and (max-width:1023px){

    .arrow-first{
        margin: 0;
    }.inner-container{
        margin: 56px 1rem 52px 1.5rem;
    }
    .arrow-para{
        margin: 0 1rem 72px 1.5rem;
        width: auto;
    }
    .grid{
        margin-left: 2rem;
        grid-template-columns: repeat(4,auto);
    }
    .grid-container{
        flex-direction: column;
    }
    .grid-container img{
    width: 280px;
    height: 280px;
    margin-left:  auto ;
    margin-top: -1rem;
    }
    .special-div-2 h2{
        margin: 1rem;
        width :100vw
    }
    .special-div-2-input{
        margin: auto 14.5rem;;
    }
    .special-div{
        width: 100%;
    }
    .special-spanned{
        margin: 1rem auto;
    }
    .feature-container-1{
        margin: 0 175px 113.04px 175px;
    }
    .first-row img{
        margin-left: -4rem;
    }
    .row-content{
        margin: right 0;;
    }
    .row1-content{
        align-self: flex-start;
        margin-left: 3rem;
    }
    .row-content p, .row1-content p, .row2-content p{
        width: 500px;
    }
    .row2-content{
        margin-right: 2rem;
        align-self: flex-start;
        width: 500px;
    }
    .last-row .row2-content h4{
        font-size: 1.6rem;
    }
    .grid-row {
        grid-template-columns: repeat(2,auto);
}
.review-head {
    padding: 258px 236px 2rem 207px;
  }
  .banner-container {
    margin: 77px 152px 120px 156px;
  }
  .first-banner{
    margin: 90px 90px 124px 90px;
  }
  .second-banner{
    margin: 0 105px 0px 98px;
  }
  .mask-group {
    margin: 0px 117px 0 137px;
  }
  .mask-input {
    margin: 0 135px 17.52px 221px;
}
.mask-spanned {
    margin: 0 167px 90.21px 267px;
  }
  .footer-container {
    grid-template-columns: 126px 180px 158px 222px auto;
  }
}
@media screen and (max-width:768px){
    .Application-Container-head p{
        padding: 0 1.5rem;
        width: auto;
      }
      .arrow-container{
        margin-top: 5rem;
    }
    .arrow-first{
        overflow: scroll;
    }
    .grid-container img:last-child {display: none;}
    .special-div-2-input{
        margin: 0 8.5rem;
    }
    .feature-container-1{
        margin: 0 auto 2rem;
    }
    .first-row,.second-row,.third-row{
        flex-direction: column;
    }
    .row-content,.row1-content,.row2-content{
        margin: 0 auto;
    }
    .first-row img,.second-row img{
        margin: 3.4rem auto;
    }
    .third-row img{
        display: none;
    }
    .row-content p, .row1-content p, .row2-content p{
        height: auto;
    }
    .second-row,.third-row{
        margin-top: 2rem;
    }
    .customer-page{
        margin-top: 29rem;
        height: 117rem;
    }
    .heading h3
    {
        padding: 90px 50px 0 50px;
    }
    .heading p{
        margin: 0.9rem 125px 0 125px ;
    }
    .grid-row {
        grid-gap: 28px 54px;
      }
      .review-head h3{
        width: auto;
      }
      .special-div-3 {
        margin: 23rem 1rem 0 1rem;
      }
      .review-head {
        padding: 236px 90px 2rem 90px;
      }
      .banner-container {
        margin: 35px 21px 120px 37px;
      }
      .first-banner {
        margin: 88px 14px 124px 14px;
      }
      .second-banner {
        margin: 0px 31px 0px 20px;
      }
      .customer-review h3{
        margin: 130px 108px 64px 108px;
      }
      .customer-review p{
        margin: 0px 50px 98px 50px;
      }
      .mask-group {
        margin: 0px 31px 0 31px;
      }
      .mask-group img:first-child {
        margin-right: 76px;
      }
      .mask-group img:nth-child(2) {
        margin-right: 79px;
      }
      .mask-group img:nth-child(4) {
        margin-right: 71px;
      }
      .mask-input {
        margin: 0 65px 17.52px 101px;
      }
      .mask-spanned {
        margin: 0 107px 90.21px 157px;
      }
      .footer-container {
        grid-template-columns: repeat(3,auto);
        gap: 2rem;
      }
    }
body{
    border: 0.5px solid pink;
}
    
@media screen and (max-width:480px){
    .grid-container{
        width: 480px;
    }
    .body-2 {
        margin-bottom: 24px;
    }
    .poster{
        margin-left: 1rem;
    }
    .Application-Container-head h3{
        height: auto;
        width: auto;
        margin-top: 2rem;
    }
    .grid{
        margin:0 auto;
        grid-template-columns: repeat(2,auto);
    }
    .Product{
        padding-top:8rem;
    }
    .product-content{
        width: auto;
        margin: 0 auto;
    }
    .p-container{
        margin:  8rem 2rem  2rem 2rem ;
    }
    .head i{
        height: 15px;
        margin-right: 1rem;
    }
    .product-content p{
        margin-top: 2rem;
    }
    .head h3{
        width: auto;
        margin: auto;
    }
    .body,.body-2{
        width: auto;
        height: auto;
    }
    .body i,.body-2 i {
        margin-left: 9px;
        margin-right: 18px;
      }
      .special-div-2{
        width: 100vw;
      }
      .special-div-2 h2{    
width: 90vw;
      }
      .special-div-2-input {
        margin: 0 1rem 1rem 1rem;
        height: 56px;
        width:350px;
      }
      .special-div-2-input input{
     border-radius: 5px;
     margin-left: 4rem;
      }
.special-div-2-input button{
    margin-left: 7rem;
    margin-top: .5rem;
   height: 90%;
   border-radius: 5px;
}
.special-spanned{
    margin: 4rem 1rem;
}
.feature-container-1{
    margin-top: -8rem;
}
.row-content h4,.row1-content h4,.row2-content h4{
    font-size: 24px;
    margin-bottom: 1rem;
}
.first-row img, .second-row img {
    margin: 1.5rem auto;
  }
.row2-content p{
    width: 400px;
}
.row-content p,.row1-content p{
    width:auto;
    height: auto;
}
.customer-page {
    margin-top: 36rem;
    height: 136rem;
  }
  .heading p {
    margin: 0.9rem 0.5rem 2rem 0.5rem;
  }
  .grid-row {
    grid-template-columns: auto;
  }
  .customer-grid {
    margin: 223px 1rem 0 1rem;
  }
  .grid-info:nth-child(5) {
    margin-top: 0rem;
  }
  .special-div-3 {
    margin: 36rem .5rem 0 .5rem;
    height: auto;
  }
  .special-div-3 h2{
    padding: 30px 10px 0 10px;
  }
  .special-div-3-input{
    display: block;
    height: auto;
    width: auto;
    margin: 0 2rem 0 3rem ;
  }
  .special-div-3-input input,.special-div-3-input button{
    width: 90%;
    margin-left: .5rem;
    border-radius:5px ;
  }
  .special-div-3-input button{
    margin-top: 1rem;
  }
  .special-spanned-2{
    height: auto;
    width: auto;
    margin: 1rem 3rem 0 2rem;
    padding-bottom: 1rem;
  }
  .review-head {
    padding: 302px 84px 2rem 86px;
  }
  .review-head p{
    margin-top:5rem
  }
  .banner-container {
    margin: 37px 21px 37px 21px;
    flex-direction: column;
    height: 550px;
}
.banner-header h4 {
    font-size: 33px;
    font-weight: 600;
}
.first-banner{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 3rem 0rem;
    margin: 87px 30px 51px 30px;
}
.second-banner{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 3rem 0rem;
    margin: 0 2rem;
}
.second-banner img:nth-child(3) {
    margin-left: 12px;
  }
.second-banner img:nth-child(2) {
    margin-left: 8px;
}
  .second-banner img:nth-child(4) {
    margin-right: 12px;
  }
  .customer-review h3 {
    margin: 130px 40px 50px 40px;
  }
  .mask-group {
    margin: 0px 31px 0 31px;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;}
    .mask-group img:first-child,.mask-group img:nth-child(2),.mask-group img:nth-child(3),.mask-group img:nth-child(4){
        margin-right: 0px
    }
    .maskgroup-heading p {
        margin: 0px 31px 160px 31px;
      }
      .maskgroup-container{
        height: auto;
      }
      .maskgroup-container h3{
        margin: 77px 21px 2rem 36px;
      }
      .mask-input{
        margin: 0 45px 17.52px 45px;
      }
      .mask-input input,.mask-input button{
        width: 90%;
        border-radius: 5px;
        margin:  auto 1rem;
      }
      .mask-input button{
        margin-top: .5rem;
      }
      .mask-spanned {
        margin: 0 57px 90.21px 7px;
      }
      .footer-container {
        grid-template-columns: auto;
        gap: 2rem;
        justify-content: center;}
}
@media screen and (max-width:430px){
    .input-form{
        height: auto;
    }
    .email{
        width: auto;
margin-bottom: 1rem;
    }
    .software-head{
        padding: 0 1rem;
    }
    .survey-software p{
        line-height: 1.3;
    }
    .Application-Container-head h3{
        margin: 1rem;
    }
    .grid-container{
        margin-top: 7rem;
    }
    .p-container {
        margin: 10rem 2rem 2rem 2rem;
      }
      .body h3{
        height: auto;
      }
      .special-div-2 h2 {
        line-height: 1;
     }
     .special-spanned{
        width: 90%;
text-align: center;
     }
     .customer-page {
        margin-top: 44rem;
    
    }
    .heading {
        height: 375px;
      }
      .last-row .row2-content h4 {
        font-size: 1.4rem;
      }
      .heading h3 {
        padding: 45px 25px 0 25px;
        font-size: 28px;
        line-height: 1.5;
      }
    .customer-grid {
        margin: 49px 1rem 0 1rem;
      }
    .special-div-3 {
        margin: 46.7rem 0 0 0;
        height: auto;
        width: 100%;}
    .review-head h3 {
            width: auto;
            margin-top: 4rem;
            font-size: 28px;
            line-height: 1.4;}
    .review-head p {
                margin-top: 3rem;
              }
    .banner-header h4 {
                margin: 2rem;
    }
}
@media screen and (max-width:430px){

    .spanned{
        text-align: center;
    }
    .poster {
        margin-left: .3rem;
      }
      .poster-image img {
        width: 350px;}
        .survey-software p {
            line-height: 1.1;
            font-size: 15px;
          }
    .grid{
        width: 396px;
margin-left: 0.5rem;
margin-top: 1rem;
    }
    .p-container {
        margin-top: 12rem;
      }
      .body, .body-2 {
        font-size: 21px;
        margin-left: 1rem;
      }
      .body h3,.body-2 h3{
        font-size: 21px;
      }
      .special-div-2-input {
        margin: 1rem -1.5rem;}
        .row-content h4, .row1-content h4, .row2-content h4 {
            font-size: 22px;}

    .first-row img, .second-row img {
                min-width: 200px;
                width: 300px;
}
.last-row .row2-content h4 {
    font-size: 1.3rem;
  }
  .row2-content p {
    width: 300px;}
    .customer-page {
        margin-top: 65rem;
        height: auto;
      }
    .heading h3 {
        padding: 30px 25px 0 25px;
        line-height: 1.2;
        font-size: 1.5rem;}

    .heading p {
            margin: 0.9rem 0.5rem 2.5rem 0.5rem;
          }
          .customer-grid {
            margin: 0px 1rem 0 1rem;
          }   
    .special-div-3 {
            margin-top: 66.7rem }
            .review-head {
                padding: 7px 40px 2rem 40px;
              }
    .first-banner {
         grid-template-columns: repeat(1,auto);
         margin: 87px 0px 1rem 40px;
        justify-content: center;
    }
    .second-banner{
        grid-template-columns: repeat(1,auto);
        margin:2.8rem 0px 1rem -10px;
        justify-content: center;

    }
    .customer-review h3 {
        margin: 260px 40px 50px 40px;
      }
        }
   