@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root {
    --green:#19B885;
    --btn-green:#30BF91;
    --btn-black:#0D1B1E;
    --backgroundblack:#33393F;
    --backgroundblue:#F5FDFF;
}
.poppins{
    font-family: 'Poppins', sans-serif;;
}
.center{
    text-align: center;
}
.inter{
    font-family: 'Inter', sans-serif;

}
p{
    font-family: 'Inter', sans-serif;
}
.Main{
    max-width: 1274.33px;
    margin: 0 auto;
    /* border: 1px solid black; */
}
/* Navbar */
.nav-bar{
    width: 100%;
    height: 2.5rem;
    margin-top: 1.188rem;
    /* border: 1px solid black; */
    display: flex;
    font-family: 'Inter', sans-serif;
}
.logo{
    margin: 1px;
    height: 35px;
}
.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-item p{
    line-height: 30px;
    font-weight: 400;
    font-size: 14px;
    margin-right: .5rem;
}
.nav-item img{
    width: 0.438rem;
    height: 4.23px;
    margin-right: 1.813rem;
}
.nav-list{
    margin: 4px;
    height: 2rem;
    width:29.375rem;
    display: flex;
    margin-left: 1.75rem;
}
.nav-details{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    font-size: 14px;
    font-weight: 400;
    
}
.nav-details img:first-child {
    width: 1rem;
    height: 1rem;
    margin-right: 9px;
}
.nav-details :nth-child(3){
    margin-left: .5rem;
}
.nav-details :nth-child(4){
    margin: .25rem;
    width: 128px;
    margin-left: 1.521rem;
}
.signup-btn{
    background-color: var(--btn-green);
    color: white;
    text-align: center;
    height: 100%;
    font-size: 14px;
    line-height: 14px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    width: 87px;
    margin-left: 1rem;
}


/* poster */

.poster{
    display: flex;
    margin-top: 7.313rem;
    max-width: 1274px;
    height: 22.25rem;
    margin-bottom: 9rem;
}
.poster-content{
    width: 648px;
    height: 100%;
}
.poster-image{
    height: 100%;
    width: 39.125rem;
}
.poster-content h2{
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4.375rem;
    /* border: 1px solid black; */
    height:125px;
    width: 648px;
}
.poster-content p {
    font-weight: 500;
    line-height: 2rem;
    color: #0D1B1E;
    margin: 32px 0;
    width:74.5%;
    height:55px;
}
.input-form{
    height: 50px;
    margin-bottom: 14px;
}
.email{
border: 1px solid #D8D8D8;
border-radius: 5px;
font-size: 1rem;
padding: 12px 47px 17px 16px;
font-weight: 300;
line-height: 19px;
color: #BCBCBC;
width: 268px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: #BCBCBC;
    opacity: 1; /* Firefox */
  }
.poster-btn{
    padding:8px 22px 12px 22px;
    height: 100%;
    font-size: 18px;
    font-weight: 400;
    background-color: var(--green);
    color: white;
    letter-spacing: 0.15;
    line-height: 30px;
    border: none;
    width: 173px;
    border-radius: 5px;
    margin-left: 0;
}

.spanned {
    height: 1rem;
    width:445px;
    font-weight:300;
font-size:12px;
line-height:14px;
}

/* survey-software */
.survey-software{
    margin: 0 82px 28px 83px;
    /* border: 1px solid black; */
    width: 1109px;;
    height: 252px;
}
.software-head {
font-size: 36px;
font-weight: 700;
line-height: 56px;
letter-spacing: 0em;
height: 41px;
text-align: center;
margin-bottom: 2rem;
width: 885px;
margin-left: 112px;
}
.survey-software p{
   text-align: center;
   width: 1109px;
   height: 119px;
font-size: 16px;
font-weight: 400;
line-height: 32px;
margin-bottom: 28px;

}
.read-more{
    margin-left: 507px;
    font-weight: 600;
    font-size: 18px;
    line-height: 2rem;
}