@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root {
    --green:#19B885;
    --btn-green:#30BF91;
    --btn-black:#0D1B1E;
    --backgroundblack:#33393F;
    --backgroundblue:#F5FDFF;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.center{
    text-align: center;
}
.inter{
    font-family: 'Inter', sans-serif;

}
p{
    font-family: 'Inter', sans-serif;
}
.Main{
    max-width: 1274.33px;
    margin: 0 auto;
    /* border: 1px solid black; */
   position: relative;

}
a:visited{
    color: black;
}
/* Navbar */
.nav-bar{
    width: 100%;
    height: 2.5rem;
    margin-top: 1.188rem;
    /* border: 1px solid black; */
    display: flex;
    font-family: 'Inter', sans-serif;
}
.logo{
    margin: 1px;
    height: 35px;
}
.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-item p{
    line-height: 30px;
    font-weight: 400;
    font-size: 14px;
    margin-right: .5rem;
}
.nav-item img{
    width: 0.438rem;
    height: 4.23px;
    margin-right: 1.813rem;
}
.nav-list{
    margin: 4px;
    height: 2rem;
    width:29.375rem;
    display: flex;
    margin-left: 1.75rem;
}
.nav-details{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    font-size: 14px;
    font-weight: 400;
    
}
.nav-details img:first-child {
    width: 1rem;
    height: 1rem;
    margin-right: 9px;
}
.nav-details :nth-child(3){
    margin-left: .5rem;
}
.nav-details :nth-child(4){
    margin: .25rem;
    width: 128px;
    margin-left: 1.521rem;
}
.signup-btn{
    background-color: var(--btn-green);
    color: white;
    text-align: center;
    height: 100%;
    font-size: 14px;
    line-height: 14px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    width: 87px;
    margin-left: 1rem;
}


/* poster */

.poster{
    display: flex;
    margin-top: 7.313rem;
    max-width: 1274px;
    height: 22.25rem;
    margin-bottom: 9rem;
}
.poster-content{
    width: 648px;
    height: 100%;
}
.poster-image{
    height: 100%;
    width: 39.125rem;
}
.poster-content h2{
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4.375rem;
    /* border: 1px solid black; */
    height:125px;
    width: 626px;
    color: #0D1B1E;
}
.poster-content p {
    font-weight: 400;
    line-height: 2rem;
    font-size: 19px;
    margin: 32px 0;
    width:482px;
    height:55px;
    /* padding-right: 3rem; */
}
.input-form{
    height: 50px;
    margin-bottom: 14px;
}
.email{
border: 1px solid #D8D8D8;
border-radius: 5px;
font-size: 1rem;
padding: 12px 47px 17px 16px;
font-weight: 300;
line-height: 19px;
color: #BCBCBC;
width: 268px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: #BCBCBC;
    opacity: 1; /* Firefox */
  }
.poster-btn{
    padding:8px 22px 12px 22px;
    height: 100%;
    font-size: 18px;
    font-weight: 400;
    background-color: var(--green);
    color: white;
    letter-spacing: 0.15;
    line-height: 30px;
    border: none;
    width: 173px;
    border-radius: 5px;
    margin-left: 0;
}

.spanned {
    height: 1rem;
    /* width:445px; */
    font-weight:300;
font-size:12px;
line-height:14px;
}
b{
    height: 25px;
    width: 102px;
    margin-left: .2rem;
    font-weight: 600;
    font-size: 14px;
}

/* survey-software */
.survey-software{
    margin: 0 82px 252px 83px;
    width: 1109px;;
    height: 252px;
    
}
.software-head {
font-size: 36px;
font-weight: 800;
line-height: 56px;
letter-spacing: 0em;
height: 41px;
text-align: center;
margin-bottom: 2rem;
width: 885px;
margin-left: 112px;
color: #0D1B1E;
padding: 0 .2rem;
}
.survey-software p{
   text-align: center;
   width: 1109px;
   height: 119px;
font-size: 18px;
font-weight: 400;
line-height: 32px;
margin-bottom: 28px;
}
.survey-software a:link{
    color: #0D1B1E;
    font-weight: 600;
    text-decoration: none;
    border-bottom:  1.5px solid black;
}
.read-more{
    margin-left: 507px;
    font-weight: 600;
    font-size: 18px;
    line-height: 2rem;
}

.special-div{
    max-width:1274px ;
    border: 1px solid black;
    margin-top: 104px;
    background-color: #33393F;
    color: white;
    position: absolute;
    bottom: -400px;
}
.special-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 61px 97px 55px 93px;
    height: 188px;
    text-align: center;
}
.special-item-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}
.special-item-1 h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    height: 20px;
    margin-bottom: 24px;
    text-align: center;
}
.special-item-1 p{
font-size: 1.1rem;
font-weight: 400;
line-height: 22.5px;
letter-spacing: 0px;
padding: 0.7rem;
padding-bottom: 0.5rem;

}

.special-item-1 img{
    margin-top: 14px;
 height: 48px;
 width: 48px;
}


/* Survey-Application */

.Survey-Application{
    height: 1438px;
    max-width: 1440px;
    background-color:#F5FDFF;
    padding-top: 260px;
}
.Application-container{
    max-width: 1263px;
    margin: 0 auto;
}

.Application-Container-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 184px;
}
.Application-Container-head h3{
    font-family: Poppins;
font-size: 36px;
font-weight: 700;
line-height: 56px;
letter-spacing: 0em;
margin-bottom: 2rem;
width:698px ;
height: 97px;
}
.Application-Container-head p{
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
height: 55px;
width: 967px;
color: #0D1B1E;
}
.arrow-container{
    max-width: 1252px;
    height: 383px;
    border: 1px solid black;
    margin-top: 77px;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
}
.arrow-first{
    height: 224px;
    border: 1px solid black;
    margin: 13px 77px 19px 55px;
}
.arrow-para{
    height: 55px;
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
width: 967px;
margin: 0 153px 72px 132px;

}

.grid{
  align-content: center;
  margin-right: 80px;
  gap: 63px 23px;
    display: grid;
    grid-template-columns: repeat(3,194px);
}
.grid-container{
    display: flex;
    margin-top: 88px;
    margin-right: 40px;
    height: 395px;
}
.grid .grid-item img{
    height: 48px;
    width: 48px;
  margin-bottom: 12px;
}
.grid-item{
    height: 86px;
    align-self: center;
    justify-content: center;
    text-align: center;
}
.grid-item p {
    font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0em;
text-align: center;

}
.grid-container img{
    
    width: 502px;
    height: 353px;
    /* margin-left: 93px; */
   margin-bottom: 12px;
    
}

/* Product */

.Product{
    max-width: 1275px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 315px;
}
.p-container{
    margin: 104px 154px  104px 155px;
    color: #0D1B1E;
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
max-width: 967px;
}
.product-header{
    font-family: Inter;
font-size: 22px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0em;
text-align: center;

}
.product-content{
    width: 720px;
    height: 417px;
    margin: 0 278px 178px 278px;
    /* border: 1px solid black; */
}
.head {
    display: flex;
    align-items: center;
    justify-content: center;
}
.head i{
    height: 2rem;
    width:11px;
    padding-right: 20px;
}
.head h3 {
    height: 26px;
    width: 481px;
    margin-bottom: 24px;
    margin-left: 120px;
    margin-right: 104px;
}
hr{
    margin-top: 2rem;
    border: 1px solid #DEE4E5 ;
}
.product-content p{
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
width: 652px;
margin: 0 34px 0 34px ;
}
.body{
    display: flex;
    margin-top: 24px;
    margin-left: 69px;
    align-items: center;
    width: 665px;
}
.body i{
    margin-left: 59px;
    padding-top: 3px;
    width: 15px;
    height: 2rem;
    padding-right: 12px;
}
.body h3{
    font-family: Inter;
font-size: 22px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
height: 24px;
width: 571px;
/* margin-right: 59px; */
/* border: 1px solid black; */
}
.body-2{
    height: 32px;
    width: 665px;
    display: flex;
    margin-left: 45px;
    margin-top: 24px;
    margin-bottom: 40px;
    align-items: center;
    
}
.body-2 h3{
    font-family: Inter;
font-size: 22px;
font-weight: 600;
line-height: 32px;
text-align: center;
margin-right: 20px;
letter-spacing: 0em;
width: 611px;
}
.body-2 i{
    margin-left: 39px;
}

.special-div-2{
    height: 288px;
    max-width:1275px;
    background-color: #1AB885;
    color: white;
    position: absolute;
    bottom: -460px;
}
.special-div-2 h2{
    font-family: Poppins;
font-size: 28px;
font-weight: 700;
line-height: 56px;
letter-spacing: 0em;
text-align: center;
margin: 60px 227px 2rem 205px;
}
.special-div-2-input{
    /* border: 1px solid black; */
    width: 505px;
    height: 56px;
    margin: 0  385px 12px 385px;
    outline: none;
 
}
.special-div-2-input input{
    width: 310px;
    height: 100%;
    padding: 1rem 69px 17px 1rem;
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
border-radius:  5px  0 0   5px;
}
.special-div-2-input button{
    margin-left: -5px;
    height: 100%;
    width: 194px;
    font-family: Inter;
    border-radius: 0  5px 5px 0;
    padding: 15.96px 27px 18.09px 34px;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0px;
text-align: center;
border: none;
background-color: #0D1B1E;
color: white;
}
.special-spanned {
margin: 12px 412px 69px 390px;
width: 473px;
height: 18px;
font-family: Inter;
font-size: 13.5px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0px;
text-align: left;
}
.special-spanned b {
    font-family: Inter;
font-size: 14px;
font-weight: 700;
line-height: 16.94px;
text-decoration: none;
border-bottom: 1px solid white;
}


/* features */
.features{
    height: 2950px;
    background-color: #F5FDFF;
    width: 100%;
}
.feature-container-1{
    padding-top: 312px;

    height: 1006 127.96px;
    width: 1006px;
    margin: 312px 229px 113.04px 205px;
}
.feature-container-1 h3{
    font-family: Poppins;
font-size: 36px;
font-weight: 700;
line-height: 56px;
padding: 0 0.2rem;
}
.feature-container-1 p{
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
margin-top: 1.99rem;
margin-right: 20px;
margin-left: 19px;
}
.feature-main{
    max-width: 1274px;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.first-row{
    display: flex;
    height:316px;
   
}
.row-content h4,.row1-content h4,.row2-content h4{
    font-family: Inter;
font-size: 36px;
font-weight: 700;
line-height: 46px;
letter-spacing: 0em;
text-align: left;
height: 35.99px;
width: 626px;
margin-bottom: 31.99px;
}
.row-content p ,.row1-content p,.row2-content p {
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
height:170.95px;
width: 626px;
}
.row-content{
    margin-right: 91px;
    align-self: center;
}

.first-row img{
    height:316px;
    width: 554px;
}
.second-row,.third-row{
        margin-top: 160px;
        display: flex;
        height:316px;    
}
.row1-content{
    align-self: center;
    margin-left: 94px;
}
.row2-content{
    align-self: center;
    margin-right: 94px;
}
.last-row{
    margin-bottom: 177px;
}
.customer-page{
    height: 1692px;
    max-width: 1274px;
    margin: 0 auto;
}